@charset"UTF-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
header{
    display: flex;
    justify-content: space-between;
    background: #2A8CDC;
    padding: 2% 2%;
    font-size: 1.2rem;
    color: white;
    p{
        font-size: 1rem;
    }
    a{
        color: white;
    }
}
.sellect{
    background:#FFF2D5 ;
    margin: 0 3%;
    color: #FF6600;
    padding: 2%;
    font-size: 0.6rem;
}
.boss{
    display: flex;
    padding: 5% 3%;
    div{
        border:1px solid #ccc;
        border-radius: 8%;
        width: 33%;
        text-align: center;
        img{
            width: 60%;
        }
    }
}
